<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <title>DIY Dictionary</title>
  </head>
  <body>
    <div class="container">
      <h1>DIY Dictionary</h1>
      <%= yield %>
    </div>
  </body>
</html>
