<form action="/words" method="post">
  <div class="form_group">
    <label for="word">Enter a Word</label>
    <input type="text" name="word">
  </div>
  <button type="submit" name="add">Add</button>
</form>
